*{
    margin: 0;
    padding: 0;
}
.main-container{
    background: rgb(172, 238, 18);
    height: 600px;
    width: 500px;
    margin-left: 35%;
    margin-top: 2%;
    border-radius: 100px;
}
h2{
    padding: 40px;
    margin-left: 120px;
    font-size: 50px;
}


#username{
    height: 30px;
    width: 400px;
    border-radius: 9px;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
}

#password{
    margin-top: 20px;
    height: 30px;
    width: 400px;
    border-radius: 9px;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
}
.btn{
display: flex;
    justify-content: space-around;
}
#btn{
    margin-top: 50px;
    height: 50px;
    width:100px;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    background: rgb(86, 6, 110);
    color: white;
    border:none;
    outline: none;
    margin-left: 40px;
 
}
button{
    margin-top: 50px;
    height: 50px;
    width:100px;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    background: rgb(86, 6, 110);
    color: white;
    border:none;
    outline: none;
    margin-right: 50px;
 
}